<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} - {{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<a href="/"><h1>Honzův kód</h1></a>
			{% include navigation.html %}
		</div>
	</header>
	
	<main class="container">
		<div class="content-wrapper">
			{{ content }}
		</div>
	</main>
	
	<footer>
		<p>Vyrobeno s láskou a kávou</p>
		<a href="/feed.xml">RSS (Atom)</a>
	</footer>

</body>
</html>
